*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header,footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main{
    display: flex;
    gap: 20px;
    padding: 20px;
}

aside{
    background-color: #f4f4f4;
    padding: 20px;
    width: 25%;
}

section{
    background-color: #e2e2e2;
    padding: 20px;
    width: 75%;
}

h1{
    margin: 0;
    font-size: 2em;
}

footer{
    margin-top: 20px;

}

aside,section{
    border-radius: 8px;
}

aside{
    font-weight: bold;
}

section{
    font-size: 1em;
}
