*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 40px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.nav-right a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/*.btn{
    background-color: #0065ff;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 25px;
    cursor: pointer;
}
*/
.content{
    margin-top: 60px;
    padding: 20px 30px;
    text-align: justify;
}

.whatsapp-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    padding: 12px;
    border-radius: 50%;
   box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    cursor: pointer;
}

.whatsapp-btn img {
    width: 35px;
    height: 35px;
}