*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar */

.navbar{
    width: 100%;
    padding: 20px 50px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* main section */

.main-content{
    padding: 120px 50px 50px;
    display: flex;
    gap: 50px;
}

.left-text{
    width: 50%;
    font-size: 18px;
    line-height: 1.6;
}

.right-image img{
    width: 100%;
    border-radius: 10px;
}

/* Project section */

.projects {
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 30px;
padding: 20px 50px 50px;
}

.project-card img{
    width: 100%;
    border-radius: 8px;
}

.project-card p{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}
