.static{
    position: static;
    background-color: lightgreen;
    padding: 15px;
}

.relative{
    position: relative;
    background-color: lightpink;
    padding: 20px;
    top: 20px;
    left: 50px;
}

.parent{
    position: relative;
    background-color: rgb(229, 215, 241);
    height: 160px;
    padding: 10px;
}

.absolute{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: blue;
}

.fixed{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: green;
    color: white;
    padding: 15px;
    border-radius: 50%;
}