*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: #333;     /*dark background for navbar */
    padding: 1rem;                /*Padding around the items */
    display: flex;                /*turn navbar into a flex container */
    gap: 1rem;                    /* Space between navbar items */
    justify-content: center;      /*center the items horizontally */
    align-items: center;          /* center items vertically */
}

.navbar a{
    color: #fff;                  /* White text color */
    text-decoration: none;          /* Remove underline from links */
    padding: 0.5rem 1rem;           /* padding around each link */
}

.navbar a:hover{
    background-color: #555;          /*Darker color on hover */
    border-radius: 5px;                /* Rounded corners on hover */
}

