.container{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: lightgrey;
}

.element1{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: lightblue;
    
}

/*.element2{
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: lightgreen;
   z-index: 10; 
}*/


